// About # 01

#about-1 {

    .about-img-wrap {
        position: relative;
        z-index: 1;

        @media #{$xs} {
            margin-top: 0;
        }
    }

    .image-two {
        position: relative;
        top: auto;
        left: auto;
        z-index: 1;

        @media #{$xs} {
            bottom: auto;
            top: auto;
        }
    }

    .about-content-wrap {
        padding-left: 80px;

        @media #{$lg} {
            h2 br {display: none;
            }            
            padding-left: 40px;
        }
        @media #{$md} {
            padding-left: 0;
            padding-right: 120px;
            margin-top: 120px;
        }

        @media #{$xs} {
            padding-left: 0;
            margin-top: 100px;
        }
    }

    .about-key {
        overflow: hidden;
    }

    .about-key li {        
        float: left;
        width: 50%;
        position: relative;
        padding-left: 10px;
        margin-bottom: 15px;
    }

    @media (max-width: 767px) {
        .about-key li {
            width: 100%;
        }
    }

    .about-key li i {
        position: absolute;
        top: 2px;
        left: 0;
    }

    .about-key li i:before {
        font-size: 24px;
        color: #FF9D4D;        
    }

    .about-key p {
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
        color: #262B3E;
        position: relative;
        padding-left: 35px;
        margin: 0;
    }
}

#about-1.pb-150 {
    @media #{$md} {
        padding-bottom: 100px;
    }

    @media #{$xs} {
        padding-bottom: 60px;
    }
}

// About # 02

#about-2{
	position: relative;
}

.about-bg-wrap {
    max-width: calc(100% - 100px);
	position: relative;
	z-index: 1;
	@media #{$md}{
		max-width: calc(100% - 50px);
	}
	@media #{$xs}{
		max-width: calc(100% - 0px);
	}
}

.about-bg-wrap-2 {
    max-width: calc(100% - 60px);
	@media #{$md}{
		max-width: calc(100% - 0px);
	}
	@media #{$xs}{
		max-width: calc(100% - 0px);
        margin-top: 30px;
	}
}


.about-content-wrap h3 {
    color: #5A5A67;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 34px;
	@media #{$md}{
		font-size: 20px;
	}
	@media #{$xs}{
		font-size: 20px;

		br{
			display: none;
		}
	}
}

.about-content-wrap p{
	@media #{$xs}{
		br{
			display: none;
		}
	}
}


#about-2 .section-title h2 br {
    @media #{$md}{
        display: none;
    }
  }

#about-2 h3 br {
    @media #{$md}{
        display: none;
    }
  }

#about-2 p br {
    @media #{$md}{
        display: none;
    }
  }

// About # 03

#about-3{
	.about-content-wrap {
		max-width: calc(100% - 30px);
	}
}

.ceo-wrapper {
    display: inline-flex;
    align-items: center;
    margin-top: 60px;
	@media #{$lg}{
		margin-top: 30px;
	}
	@media #{$xs}{
		margin-top: 30px;
	}
}

.ceo-thumb img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.ceo-info {
    margin-left: 20px;
}

.ceo-info h5 {    
    font-size: 20px;
    font-weight: 600;
}

.ceo-info span {
    font-size: 18px;
    color: #777;
    margin-top: 5px;
}

.about-desc-wrap {
   margin-top: 0px;
   @media #{$lg}{
		margin-top: 0px;
   }
   @media #{$md}{
		margin-top: 0;
   }
   @media #{$xs}{
		margin-top: 60px;
   }
}

.about-desc-wrap p {
    text-align: justify;
}

span.dropcap_style {
    background-color: transparent;
    color: #181D4E;
    font-size: 60px;
    font-weight: 500;
    height: 50px;
    line-height: 55px;
    margin: 0;
    text-align: left;
    width: auto !important;
    min-width: 40px;
    padding-right: 5px;
    overflow: visible;
    float: left;
}
