
.single-blog-item{
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  &:hover{
    h4{
      color: #0B0D26;      
    }
  }
}

.blog-content {
  background: #fff;
  padding: 25px 25px 50px;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: space-between;
  @media #{$xs}{
    padding-left: 0;
  }
}

.blog-img{
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  transform: scale(1, 1);
  img{
    width: 100%;    
    transition: all .35s ease-in-out;
    &:hover {
      transform: scale(1.07);
    }
  }
}


.blog-meta {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0;    
}

.blog-title h4 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    min-height: 64px;
}

.blog-info {
  font-size: 16px;
  opacity: 0.5;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.blog-carousel .owl-dots button.owl-dot span {
    width: 10px;
    height: 10px;
    background: #ddd;
    margin-right: 10px;
    margin-top: 20px;
  }
  
  .blog-carousel .owl-dots button.owl-dot.active span {
    width: 35px;
    height: 10px;
    background: $theme_color;
  }
  
  .blog-carousel .owl-dots {
    text-align: center;
    margin-top: 20px;
  }

  // Blog # 02

  .blog-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-meta span {
    color: #777;
}

#blog-2 .blog-content {
    background: #fff;
    padding: 30px;
    box-shadow: 0 3px 30px rgba(0,0,0,.03);
}

.blog-content p {
    margin-top: 20px;
}

.blog-content .link_icon i {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
}

// Blog Page 

.blog-page .single-blog-item {
  margin-top: 0;
  max-width: calc(100% - 30px);
  margin-bottom: 60px;
}

.blog-page .blog-content{
  padding: 0 0 20px;
}

.blog-page .blog-content h3 a {
  font-size: 35px;
  font-weight: 500;
}

.blog-page .single-blog-item .blog-thumb img {
  margin-top: 0;
  margin-bottom: 30px;
}

.single-blog-item:hover .read_more_link .link_text {
  opacity: 1;
  text-indent: 0;
  margin-right: 6px;
  visibility: visible;
  transition: visibility 0.4s ease, margin-right 0.3s ease-out, text-indent 0.4s ease-out, opacity 0.4s ease;
}

// Pagination 


.pagination {
  margin-top: 30px;
}

.page-link {
  margin-right: 15px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $theme_color;
  border-color: $theme_color;
  color: #fff;
}

.page-item:first-child .page-link {
  display: inline-flex;
  background: $theme_color;
  border-color: $theme_color;
  border-radius: 0;
}

.page-link,
.page-link.active {
  border-radius: 0;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ddd;
  border-color: #ddd;
  color: $primary_color;
  &:hover{
    background: $theme_color;
    border-color: $theme_color;
    color: #fff;
  }
}


// Blog Details 

.blog-meta-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  @media #{$xs} {
      flex-direction: column;        
  }

  .blog-meta p {
      font-size: 16px;
      margin: 0;
      margin-right: 15px;
      @media #{$xs} {         
          margin-top: 10px;
      }

      i {
          font-size: 18px;
          margin-right: 10px;
          color: #171717;
      }
  }
}

.blog-content-wrap {
  max-width: calc(100% - 15px);

  @media #{$xs} {
      max-width: calc(100% - 0px);
  }

  h2 {
      font-size: 36px;

      @media #{$lg} {
          font-size: 30px;
      }

      @media #{$md} {
          font-size: 28px;
      }

      @media #{$xs} {
          font-size: 24px;
      }
  }

  p {
    text-align: justify;

  }
  ul {
    list-style: disc;
    padding-left: 20px;
    margin: 10px 0 20px;
  }
  ul li { margin-bottom: 6px; }

  .social-icon i {
      font-size: 18px;
      color: #fff;
      margin-right: 10px;
      background: $primary_color;
      border-color: $primary_color;
      ;
      border-radius: 50%;
      padding: 10px;

      &:hover {
          background: $theme_color;
          border-color: $theme_color;
          color: #fff;
      }
  }
}


.blog-quote-wrap {
  background: #eee;
  padding: 40px 50px;
  display: flex;
  align-items: start;
  justify-content: space-around;
  height: 250px;
  margin-bottom: 30px;

  @media #{$lg} {
      padding: 40px 35px;
  }

  @media #{$xs} {
      flex-direction: column;
      padding: 30px;
      height: auto;
  }

  .quote-icon{
      width: 100px;
  }

  .quote-icon i {
      font-size: 45px;
  }

  .blog-quote-text {
      padding-left: 50px;

      @media #{$xs} {
          padding-left: 0;
      }

      p {            
          font-size: 17px;
          font-weight: 500;
          margin: 0;

          @media #{$xs} {
              margin-top: 20px;
              font-size: 17px;
          }
      }
  }

  h6.blog-author {        
      font-size: 18px;
      font-weight: 600;
      position: relative;
      padding-left: 80px;
      margin-top: 30px;

      @media #{$xs} {
          padding-left: 0px;
      }

      &:before {
          position: absolute;
          content: "";
          top: 50%;
          left: 0;
          width: 60px;
          height: 2px;
          background: #061815;
          margin-top: -1px;
          @media #{$xs} {
              display: none;
          }
      }

      span {
          font-weight: 400;            
      }
  }

  h2 {
      margin: 30px 0;
  }

}

.blog-tag-wrap span {
  background: #fff;
  padding: 10px 16px;
  margin-left: 15px;
}


.pagination-wrap {
  padding: 35px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}
.pagination-wrap a {
  font-size: 16px;
  color: #061815;
  display: flex;
  align-items: center;
}
.pagination-wrap a i {
  font-size: 25px;
  margin-right: 15px;
}


// Comments Section 

.commetns-section-wrap {
  margin-top: 30px;
}

.single-comments-wrap {
  background: #eee;
  padding: 35px 25px;
  margin: 35px 0px;
  position: relative;

  .single-comments-inner {
      display: flex;

      @media #{$xs} {
          flex-direction: column;
      }

      .comments-autor-thumb {
          flex: 0 0 130px;

          @media #{$lg} {
              flex: 0 0 140px
          }

          @media #{$md} {
              flex: 0 0 140px
          }
      }

      .comments-content {
          padding-left: 25px;

          @media #{$xs} {
              padding-left: 0;
              margin-top: 20px;
          }

          h6 {
              font-size: 20px;
          }

          p.comments-date {
              font-size: 16px;
              color: #171717;
              font-weight: 500;
              text-decoration: underline;
              margin: 14px 0;
          }
      }
  }

  a.reply-btn {
      background: #0B0D26;
      color: #fff;
      padding: 6px 15px;
      position: absolute;
      top: 35px;
      right: 55px;
      font-size: 16px;

      @media #{$xs} {
          right: 25px;
      }

      &:hover {
          background: $primary_color;
          color: #fff;
      }
  }

}

.comments-form-wrap {
  background: #fff;
  padding: 35px;

  h3 {
      margin: 0 0 30px;
  }

  .comments-form input,
  .comments-form textarea {
      border: none;
      border-bottom: 1px solid #eee;
      margin-bottom: 30px;
  }

  .comments-form textarea {
      height: 130px;
  }
}


// Blog Side Bar 

.blog-sidebar {
  position: sticky;
  top: 150px;
}

.blog-sidebar h5 {
  font-size: 24px;
  margin-bottom: 25px;
}

.search-bar-wrap {
  background: #eee;
  padding: 35px;

  input {
      border: none;
      background: #fff;
      padding: 15px;
      border-radius: 0;
  }

  i {
      font-size: 18px;
      background: #171717;
      border: 0;
      padding: 15px;
      color: #fff;
      display: flex;
      align-items: center;

      &:hover {
          cursor: pointer;
      }
  }
}


.blog-category {
  border: 1px solid #eee;
  margin: 30px 0;
  padding: 35px;
}

.blog-category ul li {
  display: block;
}

.blog-category ul li a {
  font-size: 17px;
  font-weight: 500;
  color: #061815;
  margin-bottom: 25px;

  &:hover {
      color: $theme_color;
  }
}

.blog-category ul li i {
  margin-right: 15px;
}


.recent-post-wrap {
  margin: 30px 0;
  border: 1px solid #eee;
  padding: 30px;

  @media #{$xs} {
      padding: 30px;
  }
}

.single-recent-post {
  padding: 25px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.recent-post-thumbs {
  flex: 0 0 100px;
}


.recent-post-content {
  padding-left: 15px;

  p {
      color: $primary_color;

      @media #{$lg} {
          margin: 0;
      }

      @media #{$xs} {
          margin: 0;
          font-size: 16px;
      }
  }

  a h6 {
      font-size: 18px;
      color: #061815;

      @media #{$xs} {
          font-size: 16px;
          line-height: 20px;
      }

      &:hover {
          color: $primary_color;
      }
  }
}

.popular-tag-wrap {
  border: 1px solid #eee;
  margin: 30px 0;
  padding: 35px;
  span {
      font-size: 16px;
      font-weight: 500;
      border: 1px solid #eee;
      color: #061815;
      padding: 10px 15px;
      margin: 5px;
  
      &:hover {
          background: $theme_color;
          border-color: $theme_color;
          color: #fff;
          cursor: pointer;
      }
  }
  
}

// Blog # 02

#blog-2{
  .single-blog-item {
      background: #fff;
      padding: 40px;
      margin-top: 30px;
      @media #{$xs}{
        padding: 20px;
      }
  }

  .blog-title h5 {
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      @media #{$xs}{
        margin-top: 20px;
      }
  }
  p{
      margin-top: 30px;
  }
  i{
      font-size: 20px;
      margin-top: 10px;
  }
}
