
// Clients 

.single-client-wrap {
    border: 1px solid #eee;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}


.clients-img-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 50px 0;
}

.clients-img-inner img {    
    opacity: .2;
}

.single-client img {
    opacity: .2;
}