/*-- Google Font Import 
-----------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


// font-family: 'Manrope', sans-serif;
// font-family: 'DM Sans', sans-serif;

/*--Typography */

html,
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  font-family: $dm_sans;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 400;
  position: relative;
  z-index: 1;
  background: $bg_light;
  overflow-x: hidden;
  color: $body_text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  color: $text_dark;
  font-family: $manrope;
  font-weight: 400;
  margin: 0;
}


a {
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: $text_dark;

  &:hover {
    color: $primary_color;
  }
}

p {
  font-family: $dm_sans;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  position: relative;
  color: $body_text;

  @media #{$lg} {
    font-size: 16px;
  }

  @media #{$md} {
    font-size: 16px;
    line-height: 26px;
  }

  @media #{$xs} {
    font-size: 16px;
    line-height: 26px;
  }
}


button,
input,
textarea,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
  outline-width: 0 !important;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

img {
  display: inline-block;
  max-width: 100%;
}

i,
span,
a {
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

table,
th,
tr,
td {
  border: 1px solid #ddd;
}

th,
tr,
td {
  padding: 10px;
}

hr {
  border-top: 1px solid #777;
}

.fix {
  overflow: hidden;
}


/*Section Padding CSS*/

.section-padding {
  padding: 120px 0;

  @media #{$lg} {
    padding: 100px 10px;
  }

  @media #{$md} {
    padding: 90px 30px;
  }

  @media #{$xs} {
    padding: 70px 10px;
  }

}


/*Section Title */

.section-title {
  position: relative;
  margin-bottom: 30px;

  @media #{$lg} {
    margin-bottom: 10px;
  }

  @media #{$md} {
    margin-bottom: 20px;
  }

  @media #{$xs} {
    margin-bottom: 10px;
  }
}

.section-title h1 {
  font-size: 65px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: -2px;

  @media #{$lg} {
    font-size: 60px;
    line-height: 70px;
  }

  @media #{$md} {
    font-size: 45px;
    line-height: 55px;
  }

  @media #{$xs} {
    font-size: 40px;
    line-height: 50px;
  }
}

// .section-title h1 br{
//   @media #{$lg}{
//     display: none; 
//   }
// }


.section-title h2 {
  font-size: 55px;
  font-weight: 700;
  line-height: 65px;
  color: $text_dark;
  letter-spacing: -2px;

  @media #{$lg} {
    font-size: 50px;
    line-height: 60px;
    margin: 0;
  }

  @media #{$md} {
    font-size: 45px;
    line-height: 50px;
    margin: 0;
  }

  @media #{$xs} {
    font-size: 35px;
    line-height: 45px;
    margin: 15px 0;
  }
}


.section-title h3 {
  font-size: 30px;
  line-height: 40px;

  @media #{$lg} {
    font-size: 30px;
    line-height: 30px;
  }

  @media #{$md} {
    font-size: 36px;
    line-height: 40px;
  }

  @media #{$xs} {
    font-size: 24px;
    line-height: 30px;
  }
}

.section-title h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
  opacity: .5;
}

.section-title p {
  margin: 0;
}

.section-title img {
  border-radius: 0;
  height: 50px;
  position: relative;
  bottom: 0;

  @media #{$xs} {
    height: 40px;
  }
}



/*Button Style */

.theme-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $theme_color;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 18px 36px;
  border: 2px solid $theme_color;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 6px -1px rgba(255, 107, 53, 0.3);

  @media #{$xs} {
    padding: 15px 32px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
    transition: left 0.5s ease;
  }

  &:hover {
    background: $primary_color;
    border-color: $primary_color;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 10px 15px -3px rgba(26, 26, 46, 0.4);

    &::before {
      left: 100%;
    }
  }
}

.bordered-btn {
  @extend .theme-btn;
  background: transparent;
  border-color: $primary_color;
  color: $primary_color;

  &:hover {
    background: $theme_color;
    color: #fff;
    border-color: $theme_color;
  }
}

.white-btn {
  @extend .theme-btn;
  background: transparent;
  border-color: #fff;
  color: #fff;

  &:hover {
    background: #fff;
    border-color: #fff;
    color: inherit;
  }
}

.dark-btn {
  @extend .theme-btn;
  background: $primary_color;
  border-color: $primary_color;
  color: #fff;

  &:hover {
    background: $theme_color;
    color: #fff;
    border-color: $theme_color;
  }
}


/*Form Style CSS */

input,
textarea,
select {
  width: 100%;
  background: transparent;
  border: 1px solid #ddd;
  padding: 13px 20px;
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

textarea {
  height: 200px;
}

input[type="submit"],
button[type="submit"] {
  background: $theme_color;
  border-color: $theme_color;
  border-radius: 0;
  display: inline-block;
  color: #fff;
  width: 30%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
  background: $primary_color;
  color: #fff;
}

input::placeholder,
textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
}

input.form-control {
  padding: 12px 20px;
  line-height: 1.2;
}

/*Bootstrap Customize CSS*/

.container-fluid {
  padding: 0 20px;

  @media #{$xs} {
    padding: 0 10px;
  }
}

.container {
  max-width: 1200px;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

/* Bacground Color & Overlay CSS 
============== */

.theme-bg {
  background: $theme_color;
}

.dark-bg {
  background: $primary_color;
}

.gray-bg {
  background: $bg_light;
}

.white-bg {
  background: #fff !important;
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

.overlay {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #171717;
  opacity: 0.7;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay-2 {
  @extend .overlay;
  opacity: .2;
}

.overlay-3 {
  @extend .overlay;
  opacity: .3;
}

.overlay-4 {
  @extend .overlay;
  opacity: .4;
}

.overlay-5 {
  @extend .overlay;
  opacity: .5;
}

.overlay.active {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-color: #000;
  z-index: 99;
  opacity: 0.5;
  visibility: visible;
}

.text-dark {
  color: $text_dark !important;
}

.text-white {
  color: #fff !important;
}

.fix {
  overflow: hidden;
}

.separator {
  display: block;
  background-color: #ddd;
  width: 30px;
  height: 3px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.b-none {
  border: none !important;
}


/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}



// Header Sticky 

.header-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  visibility: visible;
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  animation: 0.5s ease-in-out 0s normal none 1 running fadeInDown;
  z-index: 999;
  transform: translateZ(0);
  will-change: transform;
  backface-visibility: hidden;

  .navigation {
    height: 80px;
  }

  .logo {
    height: 80px;

    img {
      max-height: 70px;
    }
  }

  .logo-text {

    .name,
    .title {
      font-size: 18px;
    }
  }
}

.absolute-header .header-sticky {
  background: #0B0D26;
}


// Circle Button

.circle-button {
  position: absolute;
  display: inline-block;
  left: 30%;
  bottom: 10%;

  @media #{$md} {
    left: 20%;
  }

  @media #{$xs} {
    display: none;
  }
}

.circle-button.in-bord:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 1px solid #eee;
  border-radius: 50%;
  background: #FF9D4D;
}

.circle-button .rotate-circle svg {
  width: 200px;
  fill: #fff;
}

.circle-button .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-20px) translateY(-20px);
  -ms-transform: translateX(-20px) translateY(-20px);
  transform: translateX(-20px) translateY(-20px);
  display: inline-block;
  width: 0;
  height: 0;
}

.circle-button .arrow svg {
  width: 40px;
  height: 40px;
  color: #fff;
}

.circle-button .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.circle-button .in-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.circle-button.no-animate .rotate-circle {
  -webkit-animation: none;
  animation: none;
}

.rotate-circle {
  -webkit-animation-name: rotateCircle;
  animation-name: rotateCircle;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.fz-30 {
  font-size: 32px !important;
  font-weight: 400;
}

.text-u {
  text-transform: uppercase !important;
}

.hover-this .hover-anim {
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.rotate-circle {
  -webkit-animation-name: rotateCircle;
  animation-name: rotateCircle;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes rotateCircle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotateCircle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}