.cta-section {
    height: 350px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    @media #{$xs}{
        text-align: center;
    }
}


.cta-section .section-title h2 br {
    @media #{$xs}{
        display: none;
    }    
  }