// CP Custom Accordion 

  .cp-custom-accordion .accordion-buttons {    
    position: relative;
    width: 100%;
    padding: 30px 0px 30px 40px;
    background-color: #fff;
    text-align: left;
    font-size: 18px;
    font-weight: 600;    
    border: none;
    border-bottom: 1px solid #eee;    
    padding-left: 50px;
    @media #{$lg} {
      padding: 20px 30px;
      font-size: 18px;
      line-height: 30px;
  }
    @media #{$xs} {
      padding: 20px 0px;
      font-size: 18px;
      line-height: 30px;
      padding-left: 20px;
  }

  }

  .cp-custom-accordion .accordion-buttons span {
    font-size: 15px;
    margin-right: 15px;
    color: #777;
}
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .cp-custom-accordion .accordion-buttons {
      padding: 25px 28px;      
    }
  }
  
  .cp-custom-accordion .accordion-buttons::after {
    position: absolute;
    content: "\f068";
    font-family: "Line Awesome Free";
    top: 25%;
    transform: rotate(-180deg);
    left: 0;
    font-size: 20px;
    font-weight: 500;
    opacity: 1;
    color: $primary_color;
    border: 1.5px solid #ddd;
    width: 45px;
    height: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
}
  @media (max-width: 767px) {
    .cp-custom-accordion .accordion-buttons::after {
      top: 12px;
      right: 0;
      font-size: 16px;
      display: none;
    }
  }
  .cp-custom-accordion .accordion-buttons.collapsed::after {
    content: "\f067";
  }
  .cp-custom-accordion .collapsed {
    position: relative;    
  }
  .cp-custom-accordion .accordion-body {
    background-color: #fff;
    color: #878787;
    padding: 25px 0;    
    padding-left: 30px;
    position: relative;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    z-index: 1;
    padding-right: 50px;
  }

  @media (max-width: 767px) {
    .cp-custom-accordion .accordion-body {
      font-size: 16px;
      padding-right: 30px;
      padding-left: 30px;
    }
  }