.footer-area {
    background: $primary_color;
    color: #fff;
    position: relative;
    z-index: 1;
	@media #{$md} {
		padding: 100px 50px;		
	}
	@media #{$xs} {
		padding: 50px 30px;		
		margin-top: 0;
	}
    .logo {
        height: 90px;
        display: flex;
        align-items: center;
        padding-right: 30px;
        color: #fff;
        letter-spacing: 1px;
        img {
            max-height: 80px;
            width: auto;
        }

    }
    .logo .navbar-brand {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #fff;
    }
    .logo .logo-text {
        display: flex;
        flex-direction: column;
        line-height: 1.1;
    }
    .logo .logo-text .name {
        font-size: 22px;
        font-weight: 700;
        color: #fff;
    }
    .logo .logo-text .title {
        font-size: 18px;
        font-weight: 500;
        color: #fff;
    }
	h5 {
		font-size: 20px;
		font-weight: 600;
		color: #fff;
		margin: 20px 0;
	}
	p {
		font-size: 16px;
        margin-top: 5px;
		color: #9BA2AD;		
	}
	ul li a {
		font-size: 17px;
		display: block;
		color: #9BA2AD;
		padding: 10px 0;
		position: relative;
		@media #{$xs} {
			padding: 6px 0;
		}
		&:hover{
			opacity: .5;			
		}		
	}
}

.footer-up {
	padding: 80px 0;
	.social-area i {
		color: #eee;
		font-size: 20px;
		margin-right: 10px;
	}
	@media #{$md} {
		padding-bottom: 0;	
		padding-top: 0;
	}
	@media #{$xs} {
		padding: 0;	
	}
}

.footer-bottom {
	font-size: 15px;
	font-weight: 400;
	padding: 20px 0;
	background: $primary_color;
    border-top: 1px solid #222;
	p {
		margin: 0;
		color: #fff;
        font-size: 16px;
	}
	@media #{$xs} {
		text-align: center;
	}
}


.company-email a {
	color: #f6f6f6;
    font-size: 17px;
    font-weight: 400;
    text-decoration: underline;
    margin-top: 10px;
	&:hover{
		color: #fff;
	}
}

.phone-number p {
    font-size: 20px;
    color: #fff;
}
