.funfacts-content-left {
    max-width: calc(100% - 100px);
    @media #{$xs}{
        max-width: calc(100% - 40px); ;
    }
}

.funfacts-wrap {
    display: flex;    
    margin-bottom: 30px;
    @media #{$md}{
        margin-top: 60px;
    }
    @media #{$xs}{
        margin-top: 60px;
        flex-direction: column;
    }
}

.funfacts-number p {
    font-size: 55px;
    font-weight: 600;
    color: #FF9D4D;
    line-height: 1;
}

.funfacts-number {
    flex: 0 0 30%;
}

.funfacts-content h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;    
}

// Counter # 02

#counter-2{
    
    .single-counter-box {    
        margin-bottom: 60px;
        text-align: center;
        @media #{$xs} {            
            text-align: center;
        }
        h6 {
            font-size: 18px;
            font-weight: 600;   
            margin-bottom: 15px; 
            color: $text_dark;
            @media #{$xs} {            
                font-size: 17px;
            }
        }
        
    }
    
    .single-counter-box .counter-number span {
        font-size: 65px;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 1px;
        color: $text_dark;

        @media #{$lg} {
            font-size: 60px;
        }
        @media #{$md} {
            font-size: 50px;
        }
    
        @media #{$xs} {
            font-size: 50px;
        }
    }
    
    .single-counter-box p.counter-number {
        font-size: 70px;
        margin: 0;
        color: $text_dark;
        @media #{$lg} {
            font-size: 65px;
        }
        @media #{$md} {
            font-size: 55px;
        }
        @media #{$xs} {
            font-size: 55px;
        }
        
    }
    
    }
    
    #counter-3.pt-100 {
        padding-top: 50px;
      }
    
    
      #counter-3.pt-200 {
        @media #{$md}{
            padding-top: 100px;
            padding-bottom: 60px;
        }
        @media #{$xs}{
            padding-top: 100px;
            padding-bottom: 60px;
        }
        
      }