.extra-title-line {
    margin: 10px 0 40px;
    @media #{$xs}{
        margin-bottom: 20px;
    }
}

.hero-bg-area {
    background-size: cover;
    background-position: center;
    @media #{$xs}{
        background-position: inherit;
    }
}


.hero-img-wrap img {    
    @media #{$xs}{
        height: 200px;
        object-fit: cover;
    }
  }

.hero-area {
    background-size: cover;
    background-position: center;
    @media #{$xs}{
        background-position: inherit;
    }
}

.hero-content-area {
    padding-left: 100px;
    @media #{$md}{
        padding-left: 50px;
    }
    @media #{$xs}{
        padding-left: 20px;
    }
}


.hero-area p br {
    @media #{$xs}{
        display: none;
    }
  }