// Off Canvas Menu CSS

.menu-trigger span {
    background-color: #333;
    display: block;
    height: 2px;
    margin: 8px auto;
    margin-left: 5px;
    width: 30px;
    transition: all 0.1s;
  }
  
  .menu-trigger span:nth-child(2) {
    margin-left: 0px;
  }
  
  .menu-trigger:hover span:nth-child(2) {
    margin-left: 5px;
  }
  
  .header-area.absolute-header .menu-trigger span {
    background: #fff;
  }
  
  .menu-trigger span:nth-child(2) {
    margin-left: 0px;
  }
  
  .off-canvas-menu {
    position: fixed;
    top: 0;
    right: -320px;
    background: #fff;
    box-shadow: -6px -3px 16px -8px rgba(0, 0, 0, 0.25);
    width: 350px;
    padding: 50px;
    height: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  
  .off-canvas-menu.show-off-canvas-menu {
    right: 0;
    opacity: 1;
    visibility: visible;
  }
  
  .off-canvas-menu p {
    font-size: 16px;
    color: #b4afaf;
    font-weight: 400;
    position: absolute;
    bottom: 15px;
    opacity: 0.5;
  }
  
  .menu-close {
    position: absolute;
    right: 25px;
    top: 25px;
    color: #777;
    padding: 7px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 300;
  }
  
  .menu-close:hover {
    color: #333;
  }
  
  .extra-info {
    background: $primary_color none repeat scroll 0 0;
    height: 100%;
    padding: 40px;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    width: 400px;
    z-index: 999;
    overflow-y: scroll;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
  }
  
  .extra-info.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  
  .close-icon {
    margin-top: 0;
    text-align: right;
  }
  
  .close-icon > button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    font-size: 20px;
    padding: 0;
  }
  
  .close-icon > button i {
    color: #fff;
    font-size: 30px;
  }
  
  .side-info {
    padding-top: 10px;
  }
  
  .contact-list h4 {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .contact-list p {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 30px;
    font-size: 16px;
  }
  
  .contact-list p i {
    float: left;
    margin-top: 6px;
    width: 25px;
  }
  
  .contact-list p span {
    display: block;
    overflow: hidden;
  }
  
  .offcanvas-overlay {
    position: fixed;
    background: #000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .offcanvas-overlay.active {
    opacity: 0.5;
    visibility: visible;
  }
  
  .extra-info .site-logo-2 {
    width: 220px;
    text-align: center;
    margin-top: 20px;
  }
  
  .social-area-wrap a i {
    font-size: 16px;
  }
  
  .social-area-wrap a {
    width: 40px;
    height: 40px;
    background: #1C1E36;
    color: #fff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }
  .social-area-wrap a:hover {
    opacity: .5;
  }
  