.project-list button {
    border: none;
    margin: 0;
    color: $text_dark;
    padding: 12px 33px;
    border-right: 1px solid #ddd;

    @media #{$xs} {        
        margin: 10px 10px;
    }
}

.project-list button:nth-of-type(3) {
    border-right: none;
}

.project-list button.nav-link {
    font-size: 18px;
}

.project-list button.nav-link.active {
    background: #FF9D4D;
    color: #fff !important;
}

.project-list .nav-link:focus, .nav-link:hover{
    color: #10102D;
}

.process-bg-wrap {
    @media #{$xs} {
        margin-top: 30px;        
    }
  }

// Process # 02

.process-img-one {
    max-width: calc(100% - 80px);
    @media #{$md}{
        max-width: calc(100% - 40px);
    }
    @media #{$xs}{
        max-width: calc(100% - 0px);
    }
}

.process-img-two {
    position: relative;
    z-index: 9;
    @media #{$xs}{
        margin-top: 50px !important;
    }
}

#process-3.process-section {
    position: relative;
    z-index: 1;
}

#process-3.process-section:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    background: #0B0D26;
    width: 100%;
    height: 100px;
}

.process-content-wrap{
    @media #{$xs}{
        margin-top: 60px;
    }
}

.process-content-wrap {
    max-width: calc(100% - 60px);
    @media #{$xs}{
        max-width: calc(100% - 0px);
        margin-top: 0;
    }
}

.process-section .section-title h2{
    @media #{$md}{
        font-size: 40px;
        line-height: 50px;
    }
}

