/*-- Search Form --*/
.search-box button {
    text-decoration: none;
    outline: none;
    outline-width: 0 !important;
    border: none;
    background: none;
    position: absolute;
    top: 32px;
    right: 10px;
    font-size: 20px;
  }
  
  .search-box button:before {
    position: absolute;
    content: "";
    top: 50%;
    left: -40px;
    height: 40px;
    border-left: 2px solid #eee;
    margin-top: -20px;
  }
  
  .search-box button:hover {
    cursor: pointer;
  }
  
  .search-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .search-popup .search-back-drop {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .search-active .search-popup {
    opacity: 1;
    visibility: visible;
  }
  
  .search-popup .search-inner {
    position: relative;
    background: #0A1825;
    padding: 45px 0 30px;
    z-index: 1;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    height: 400px;
  }
  
  .search-active .search-popup .search-inner {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  
  .search-popup .upper-text {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .search-popup .upper-text .text {
    font-family: $manrope;
    font-size: 18px;
    letter-spacing: 1px;
  }
  
  .search-popup .close-search {
    position: absolute;
    right: 80px;
    top: 60px;
    font-size: 30px;
    line-height: 27px;
    z-index: 3;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    border: none;
    background: none;
    color: #fff;
  }
  
  .search-popup .form-group form {
    position: relative;
  }
  
  .search-popup .form-group {
    position: relative;
    margin: 0px;
    overflow: hidden;
    border-bottom: 1px solid #888E9B;
    width: 100%;
    padding-top: 140px;
  }
  
  .search-popup .form-group input[type=text],
  .search-popup .form-group input[type=search] {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    padding: 10px 14px;
    height: 45px;
    width: 100%;
    background-color: transparent;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    border: none;
    margin-bottom: 5px;
  }
  
  .search-popup .form-group input[type=submit],
  .search-popup .form-group button {
    position: absolute;
    right: -140px;
    bottom: 5px;
    background: transparent !important;
    text-align: center;
    font-size: 24px;
    line-height: 45px;
    color: #888E9B;
    padding: 0;
    background: none;
    border: none;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .form-group input::placeholder {
    font-size: 30px;
    color: #888E9B;
  }