#service-1 {

    .single-service-item {
        border-right: 1px solid #ddd;
        padding: 45px 70px 35px 35px;
        @media #{$lg}{
            padding-right: 30px;
        }
        @media #{$md}{
            border-right: none;
        }
        @media #{$xs}{
            border-right: none;
        }

        .service-icon i:before {
            font-size: 60px;
            color: $theme_color;
        }

        .service-title h4 {
            font-size: 20px;
            font-weight: 600;
            line-height: 30px;
            color: $text_dark;
            letter-spacing: -1px;
            margin: 40px 0;
        }

        &:hover {
            .service-icon i:before {
                color: $primary_color;
            }
        }
    }


}

.read_more_link {
    position: relative;
    display: inline-block;
    top: auto;
    left: auto;
    height: auto;
    width: auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    color: $text_dark;
    z-index: 1;
    overflow: hidden;
}

.read_more_link .link_text {
    position: relative;
    margin-right: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 500;
    text-indent: -110px;
    visibility: hidden;
    white-space: nowrap;
    opacity: 0;
    transition: visibility .4s ease, margin-right .4s ease-out, text-indent .5s ease-out, opacity .4s ease;
    will-change: visibility, margin-right, text-indent, opacity;
}

.read_more_link .link_icon i {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    font-size: 24px;
    line-height: 34px;
    text-align: center;

}

.single-service-item:hover .read_more_link .link_text {
    opacity: 1;
    text-indent: 0;
    margin-right: 6px;
    visibility: visible;
    transition: visibility .4s ease, margin-right .3s ease-out, text-indent .4s ease-out, opacity .4s ease
}

#service-1.pt-60 {
    @media #{$md}{
        padding-top: 0;
    }
    @media #{$xs}{
        padding-top: 0;
    }
  }

#service-1 .mt-60 {
    @media #{$xs}{
        margin-top: 30px;
    }
    
  }

  #service-1.section-padding {
    @media #{$xs}{
        padding-bottom: 0px;
    }
}


// Service # 02

#service-2 {

    .service-content-wrap {
        max-width: calc(100% - 40px);
    }

    .service-item-wrap {
        @media #{$md}{
            margin-top: 60px;
        }
      }

    .single-service-item {
        padding: 60px 40px;
        margin-top: 0;
        margin-bottom: 30px;        
        border: 1px solid #ddd;        
        transition: .3s ease-out;        
        @media #{$lg} {
            padding: 60px 35px;
        }

        .service-content-wrap {
            @media #{$md} {
                margin-bottom: 60px;
            }

        }

        .service-icon i:before {
            font-size: 55px;
            color: $theme_color;
        }

        h4 {
            font-size: 20px;
            font-weight: 600;
            margin: 30px 0px 20px;
        }

        &:hover {
            background: $theme_color;
            border-color: $theme_color;

            .service-icon i:before {
                color: #fff;
            }

            h4 {
                color: #fff;
            }

            p {
                color: #fff;
            }
        }

        &:nth-of-type(2) {
            display: none;
        }
    }

}


#service-2.pb-90 {
    @media #{$xs}{
        padding-bottom: 60px;
    }
  }

.mtm-30 {
    @media #{$xs} {
        margin-top: 0;
    }
}

#service-3.dark-bg p {
    color: gray;
}

// Service # 03

#service-3{
	.service-img-wrap {
		max-width: calc(100% - 40px);
		position: relative;
		@media #{$md}{
			max-width: calc(100% - 0px);
		}
		@media #{$xs}{
			max-width: calc(100% - 0px);
		}
	}

	.service-content-wrap {
		margin-left: 60px;
		@media #{$xs}{
			margin-left: 0;
			margin-top: 60px;
		}
	}

	.service-feature{
		margin-top: 40px;
	}
	
	.service-feature h4 {
        font-size: 22px;
		font-weight: 600;
		border-bottom: 1px solid #ddd;
		padding-bottom: 25px;
		margin-top: 25px;
		span {
			color: #ddd;
			margin-right: 10px;
		}
		&:nth-of-type(2){
			border-bottom: none;
		}
	}

	.service-desc {		
        background: #171717;
		background-size: cover;
		width: 330px;
		height: 240px;
		position: absolute;
		bottom: 0;
		right: -40px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 45px;
		@media #{$xs}{
			right: 0;
			width: 250px;
			height: 200px;
			padding: 35px;
		}
	}
	
	.service-desc h3 {
		color: #fff;
		font-size: 35px;
		font-weight: 600;
		@media #{$xs}{
			font-size: 30px;
		}
	}

    .single-service-item {
        border: 1px solid #dddd;
        padding: 70px 50px;
        margin-bottom: 30px;
        @media #{$lg}{
            padding: 30px;
        }
        @media #{$xs}{
            padding: 50px 30px;
        }
    }

    .service-icon {
        line-height: 1;
    }
    
    .service-icon i:before {
        font-size: 60px;
        color: $theme_color;
    }
    
    .single-service-item h5 {
        font-size: 22px;
        font-weight: 600;
        margin: 40px 0 30px;
    }
		
}

#service-3 .mt-120 {
    @media #{$md}{
        margin-top: 60px;
    }
    @media #{$xs}{
        margin-top: 60px;
    }
  }


.single-service-item.theme-bg {
    .service-icon i:before {
        color: #fff !important;
    }
    h5{
        color: #fff;
    }
    p{
        color: #fff;
    }
}

.single-service-item.dark-bg {
    .service-icon i:before {
        color: #fff !important;
    }
    h5{
        color: #fff;
    }
    p{
        color: #fff;
    }
}

// Service Details 

.service-details-area {
    background: #f6f6f6;
}

.feature-img {
    margin-bottom: 30px;
}

.service-details-wrap h5 {
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    margin: 20px 0;
}

.service-details-wrap p {
    text-align: justify;
}

.service-details-wrap ul {
    list-style: disc;
    padding-left: 20px;
    margin: 10px 0 20px;
}

.service-details-wrap ul li {
    margin-bottom: 6px;
}

.service-details-img {
    margin-bottom: 30px;
}

.sidebar-wrap {
    padding: 45px 35px;
    position: sticky;
    top: 100px;
    transition: top 0.3s ease;
    h5 {
        font-size: 20px;
        font-weight: 600;
    }
    input, textarea {
        border: none;
        border-bottom: 1px solid #ddd;
        padding-left: 0;
    }
    textarea {
        height: 150px;
        
    }
    form {
        margin-top: 30px;
    }
}

.sidebar-wrap input[type="submit"] {
    width: 180px;
    margin-top: 30px;
}

.contact-info {
    margin-top: 50px;
}

.contact-list-item {
    margin-top: 20px;
    li {
        position: relative;
        padding-left: 40px;
        margin-bottom: 20px;
        font-size: 17px;
        i {
            position: absolute;
            top: 2px;
            left: 0;
            font-size: 24px;
            color: #FF9D4D;
        }
    }
}

.service-page {

    .play-btn a i {
        font-size: 30px;
        color: #fff;
    }
    
    .play-btn {
        background: #FF9D4D;
        width: 90px;
        height: 90px;
    }

}
