.testimonial-section {
    background: #fff;
    position: relative;
}

.testimonial-bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #ddd;
    background-image: url(../img/testimonial-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media #{$md}{
        display: none;
    }
    @media #{$xs}{
        display: none;
    }
}

.testimonal-inner {
    width: 100%;
    padding: 60px 0;
    text-align: center;
}

.quote-icon img{
    width: inherit !important;
    margin: 0 auto;
}

.testimonial-text {
    margin: 20px 0;
}

.author-thumb {
    width: 80px;
    height: 80px;
    display: inline-block;
}

.author-thumb img {
    border-radius: 50%;
}

.testimonial-title h5 {
    margin-top: 20px;
}

.testimonial-title p {
    margin-top: 7px;
}

.single-testimonial-item {
    padding: 20px 0;
}

.stars {
    margin-bottom: 10px;
}

.stars i {
    color: $theme_color;
    font-size: 18px;
    margin: 0 2px;
}

// Testimonial # 02

#testimonial-2{
    .single-testimonial-item p {
        font-size: 20px;
        line-height: 30px;	
    
        @media #{$xs} {
            font-size: 18px;
        }
    }
    
    .testimonial-author h6 {
        color: #fff;
        font-size: 20px;
        margin-top: 30px;
    
        span {
            display: block;
            opacity: 0.5;
            font-size: 85%;
            margin-top: 5px;
        }
    }
    
    .single-testimonial-item img {
        width: inherit !important;
    }
    
    .testimonial-author {
        margin-top: 30px;
    
        img {
            width: 80px !important;
            height: 80px !important;
            border-radius: 50%;
            display: inline-block !important;
        }
    }
    
    .testimonial-wrapper .owl-nav button.owl-prev,
    .testimonial-wrapper .owl-nav button.owl-next {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        font-size: 20px;
        font-weight: 100;
        line-height: 16px;
        position: absolute;
        left: -150px;
        top: 15px;
        background: #fff;
        -webkit-transition: all .3s ease-out 0s;
        transition: all .3s ease-out 0s;
    }
    
    .testimonial-wrapper .owl-nav button.owl-next {
        left: auto;
        right: -150px;
    }
    
    
    .testimonial-wrapper .owl-nav button.owl-prev:hover,
    .testimonial-wrapper .owl-nav button.owl-next:hover {
        background: $theme-color;
        color: #fff;
        border-color: $theme-color;
    }
    
    .testimonial-wrapper .owl-nav i {
        font-size: 22px;
    }
}
