.video-section{    
    background-size: cover;
    background-position: center;
    height: 600px;
    @media #{$md} {
			height: 500px;
		}
    @media #{$xs} {
			height: 300px;
		}
}

.video-inner-box{    
    background-size: cover;
    background-position: center;
    height: 600px;
    @media #{$md} {
			height: 500px;
		}
    @media #{$xs} {
			height: 300px;
		}
}

.video-section {
  position: relative;
  z-index: 1;
}


.play-btn {
  width: 130px;
  height: 130px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: 0.4s;
  z-index: 99;
  transform: translate(-50px, -50px);
@media #{$md} {
  width: 100px;
  height: 100px;
  top: 50%;
}

@media #{$xs} {
  width: 100px;
  height: 100px;
}
}

.play-btn a {  
  text-transform: uppercase;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  color: #fff;
  z-index: 999;
  &:hover{
  color: $theme_color;
}
}


@keyframes btnIconRipple {
  0% {
    border-width: 4px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  80% {
    border-width: 1px;
    -webkit-transform: scale(1.35);
    transform: scale(1.35);
  }
  100% {
    opacity: 0;
  }
}
.play-btn::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  border-radius: inherit;
  border: 1px solid #555;
  -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
  animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
}

